<div class="container">
  <!-- Recipe Image -->
  <div class="row mt-4">
    <div class="col-12 text-center">
      <img src="path/to/recipe-image.jpg" alt="Recipe Image" class="img-fluid">
    </div>
  </div>

  <!-- Recipe Name -->
  <div class="row mt-4">
    <div class="col-12">
      <h2 class="text-center">Recipe Name</h2>
    </div>
  </div>

  <!-- Manage Recipe Buttons -->
  <div class="row mt-4">
    <div class="col-12 text-center">
      <div class="btn-group">
        <button class="btn btn-primary">Manage Recipe</button>
        <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Add ingredients</a></li>
          <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="row mt-4">
    <div class="col-12">
      <p class="text-center">Description</p>
    </div>
  </div>

  <!-- Ingredients -->
  <div class="row mt-4">
    <div class="col-12">
      <p class="text-center">Ingredients</p>
    </div>
  </div>
</div>
